
{{ form_start(form) }}
<div class="card-header">
    <h4 class="card-title">Modifier facture fournisseur</h4>
</div>
<div class="card-body">
    <div class="row mb-1">
        <div class="col-md-4">{{ form_row(form.numero_facture)}}</div>
        <div class="col-md-4">{{ form_row(form.commande)}}</div>
        <div class="col-md-4">{{ form_row(form.date_facturation)}}</div>
    </div>
    <div class="row mb-1">
        <div class="col-md-4">{{ form_row(form.reference_paiement)}}</div>
        <div class="col-md-4">{{ form_row(form.condition_paiement)}}</div>
        <div class="col-md-4">{{ form_row(form.date_limite_paiement)}}</div>
    </div>
    <div class="row mb-1">
        <div class="col-md-4">{{ form_row(form.note)}}</div>
        <div class="col-md-4">{{ form_row(form.etat_paiement)}}</div>
    </div>
</div>
<div class="card-footer text-end">
    <div class="d-flex">
        <a href="{{path('app_facture_fournisseur_index')}}" class="btn btn-secondary btn-sm">Retour</a>
        <button type="submit" class="btn btn-primary btn-sm ms-auto">Modifier</button>
    </div>
</div>    
{{ form_end(form) }}