{% extends 'base.html.twig' %}

{% block title %}admin index{% endblock %}

{% block body %}
<div class="container-xl">
    <div class="page-header d-print-none">
        <div class="row g-2 align-items-center">
            <div class="col">
                <div class="page-pretitle">Liste des administrateur</div>
                <h2 class="page-title">Administrateur</h2>
            </div>
            <div class="col-12 col-md-auto ms-auto d-print-none">
            <div class="btn-list">
                <span class="d-none d-sm-inline">
                <a href="#" class="btn btn-white">Nombres : {{ users | length}}</a>
                <a href="{{path('app_register')}}" class="btn btn-primary d-none d-sm-inline-block">
                <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><line x1="12" y1="5" x2="12" y2="19" /><line x1="5" y1="12" x2="19" y2="12" /></svg>Créer</a>
            </div>
        </div>
    </div>
    </div>
</div>
<div class="page-body">
    <div class="container-xl">
        <div class="row row-cards">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Listes</h3>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table card-table table-hover  dataTable">
                                <thead class="table-primary">
                                <tr>
                                    <th>N°</th>
                                    <th>Username</th>
                                    <th>Nom</th>
                                    <th>Prenom</th>
                                    <th>Email</th>
                                    <th>Tél</th>
                                    <th>Roles</th>
                                    <th>Ville</th>
                                    <th>Pays</th>
                                    <th>Images</th>
                                    <th class="text-center" width="160">Actions</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% set i = 0 %}
                                {% for user in users %}
                                    {% set i = i + 1 %}
                                    <tr>
                                        <td>{{ i }}</td>
                                        <td>{{ user.username }}</td>
                                        <td>{{ user.nom }}</td>
                                        <td>{{ user.prenom }}</td>
                                        <td>{{ user.email }}</td>
                                        <td>{{ user.tel }}</td>
                                        <td>
                                            {% for role in user.roles %}
                                                {% if role == "ROLE_SUPER_ADMIN" %}
                                                    Super Admin
                                                {% elseif role == "ROLE_ADMIN" %}
                                                    Admin
                                                {% endif %}
                                            {% endfor %}
                                        </td>
                                        <td>{{ user.ville }}</td>
                                        <td>{{ user.pays | country_name }}</td>
                                        <td>
                                            {% if user.image == '' %}
                                                <img src="{{asset('images/user.png')}}" height="50" width="50">
                                            {% else %}
                                                <img src="{{asset('images/employees/'~ user.image)}}" height="50" width="50">
                                            {% endif %}
                                        </td>
                                        <td class="text-center">
                                            <a class="btn-sm btn btn-info" href="{{path('app_user_show', {'id' : user.id})}}">Détails</a>
                                            <a class="btn-sm btn btn-primary" href="{{path('app_user_edit', {'id' : user.id})}}">Modifier</a>
                                        </td>
                                    </tr>
                                {% else %}
                                    <tr>
                                        <td colspan="10">Pas d'administrateur </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
