{% extends 'base.html.twig' %}

{% block title %}New Fournisseur{% endblock %}

{% block body %}
<div class="content-wrapper">
        <div class="row">
            <div class="col-12 grid-margin stretch-card">
                <div class="card">
                    {{ form_start(registrationForm) }}
                        <div class="card-header">
                            <h4 class="card-title">Ajouter un Administrateur</h4>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-4">{{ form_row(registrationForm.username)}}</div>
                                <div class="col-md-4">{{ form_row(registrationForm.nom)}}</div>
                                <div class="col-md-4">{{ form_row(registrationForm.prenom)}}</div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">{{ form_row(registrationForm.email)}}</div>
                                <div class="col-md-4">{{ form_row(registrationForm.tel)}}</div>
                                <div class="col-md-4">{{ form_row(registrationForm.image)}}</div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">{{ form_row(registrationForm.pays)}}</div>
                                <div class="col-md-4">{{ form_row(registrationForm.ville)}}</div>
                                <div class="col-md-4">{{ form_row(registrationForm.plainPassword)}}</div>
                            </div>
                            <div class="row">
                                <div class="col-md-3">{{ form_row(registrationForm.roles) }}</div>
                                <div class="col-md-3">{{ form_row(registrationForm.agreeTerms) }}</div>
                            </div>
                        </div>
                        <div class="card-footer text-end">
                            <div class="d-flex">
                                <button type="submit" class="btn btn-primary btn-sm ">Enregistrer <i class="mdi mdi-content-save"></i></button>
                                <a href="{{path('app_user_index')}}" class="btn btn-secondary btn-sm ms-auto text-white">Retour <i class="mdi mdi-reply"></i></a>
                            </div>
                        </div>
                    {{ form_end(registrationForm) }}
            </div>
        </div>
    </div>
</div>
{% endblock %}
