{% extends 'base123.html.twig' %}

{% block title %}Service{% endblock %}

{% block body %}

<div class="pd-ltr-20 xs-pd-20-10">
    <div class="min-height-200px">
        <div class="page-header">
            <div class="row"> 
                <div class="col-md-6 col-sm-12">
                    <div class="title">
                        <h4>Sonoya Stock</h4>
                    </div>
                    <nav aria-label="breadcrumb" role="navigation">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="{{path('app_home')}}">Home</a>
                            <li class="breadcrumb-item" aria-current="page">Produits</li>
                            <li class="breadcrumb-item active" aria-current="page">Services</li>
                        </ol>
                    </nav> 
                </div>
                <div class="col-md-6 col-sm-12 text-right">
                    <div class="dropdown">
                        <a class="btn btn-primary btn-sm" href="#" role="button" data-toggle="dropdown">
                            Service
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-box mb-30">
            <div class="card-header pd-20 text-right">
                <a href="{{ path('app_service_edit', {'id': service.id}) }}" class="btn btn-warning btn-sm">Modifier <i class="fa fa-edit"></i></a>
                <a href="{{ path('app_service_index') }}" class="btn btn-secondary btn-sm text-white">Retour <i class="fa fa-reply"></i></a>
            </div>
            <div class="p-4">
                <table class="table"> 
                    <tbody>
                        <tr>
                            <th>Libelle</th>
                            <td>{{ service.libelle }}</td>
                            <th>Periodique</th>
                            <td>{{ service.periodique ? 'Oui' : 'Non' }}</td>
                        </tr>
                        <tr>
                            <th>Prix</th>
                            <td>{{ service.prix }}</td>
                            <th>Taxe</th>
                            <td>{{ service.taxe }} %</td>
                        </tr>
                        <tr>
                            <th>Reference</th>
                            <td>{{ service.reference }}</td>
                            <th>Desciption</th>
                            <td>{{ service.desciption }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="page-header">
            <div class="row p-2 text-right"> 
                {{ include('service/_delete_form.html.twig') }}
            </div>
        </div>
    </div>
</div>
{% endblock %}
