{{ form_start(form) }}
    <div class="card-header">
        <h4 class="card-title">Modifier la Livraison</h4>
    </div>
    <div class="card-body">
        <div class="row mb-1">
            <div class="col-md-6">{{ form_row(form.num_livraison)}}</div>
            <div class="col-md-6">{{ form_row(form.facture)}}</div>
        </div>
        <div class="row mb-1">
            <div class="col-md-6">{{ form_row(form.date_livraison)}}</div>
            <div class="col-md-6">{{ form_row(form.adresse)}}</div>
        </div>
    </div>
    <div class="card-footer text-end">
        <div class="d-flex">
            <a href="{{path('app_livraison_index')}}" class="btn btn-secondary btn-sm">Retour</a>
            <button type="submit" class="btn btn-primary btn-sm ms-auto">Modifier</button>
        </div>
    </div>    
{{ form_end(form) }}