{% extends 'base123.html.twig' %}

{% block title %}New FactureClient{% endblock %}

{% block body %}
<div class="container-xl">
    <div class="page-header d-print-none">
        <div class="row g-2 align-items-center">
            <div class="col">
                <h2 class="page-title">Facture Client</h2>
            </div>
        </div>
    </div> 
</div>
{% if dernier == null %}
    {% set val = 1 %}
{% else %}
    {% set val = dernier.id + 1 %}
{% endif %}

{% set dateJour = "now"|date("Ym") %}
{% set numFour = 'CFC'~dateJour~val %}

<div class="page-body">
    <div class="container-xl">
        <div class="row row-cards">
            <div class="col-12">
                <div class="card">
                    {{ form_start(form) }}
                        <div class="card-header">
                            <h4 class="card-title">Facturé la commande : {{ commande.codeCommande}}</h4>
                        </div>
                        <div class="card-body">
                            <div class="row mb-2">
                                <div class="col-md-4">{{ form_label(form.numero_facture)}}</div>
                                <div class="col-md-6">{{ form_widget(form.numero_facture, { attr : {value : numFour}})}}</div>
                            </div>
                            <div class="row mb-2">
                                <div class="col-md-4">{{ form_label(form.date_facturation)}}</div>
                                <div class="col-md-6">{{ form_widget(form.date_facturation)}}</div>
                            </div>
                            <div class="row mb-2">
                                <div class="col-md-4">{{ form_label(form.avance)}}</div>
                                <div class="col-md-6">{{ form_widget(form.avance, { attr : { value : 0}})}}</div>
                            </div>
                            <div class="row mb-2">
                                <div class="col-md-4">{{ form_label(form.remise)}}</div>
                                <div class="col-md-6">{{ form_widget(form.remise, { attr : { value : 0}})}}</div>
                            </div>
                            <div class="row mb-2">
                                <div class="col-md-4">{{ form_label(form.condition_paiement)}}</div>
                                <div class="col-md-6">{{ form_widget(form.condition_paiement)}}</div>
                            </div>
                            <div class="row mb-2">
                                <div class="col-md-4">{{ form_label(form.mode_paiement)}}</div>
                                <div class="col-md-6">{{ form_widget(form.mode_paiement)}}</div>
                            </div>
                            <div class="row mb-2">
                                <div class="col-md-4">{{ form_label(form.paiement)}}</div>
                                <div class="col-md-6">{{ form_widget(form.paiement)}}</div>
                            </div>
                        </div>
                        <div class="card-footer text-end">
                            <div class="d-flex">
                                <a href="{{path('app_facture_client_index')}}" class="btn btn-secondary btn-sm">Retour</a>
                                <button type="submit" class="btn btn-primary btn-sm ms-auto">Enregistrer</button>
                            </div>
                        </div>    
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
</div> 
{% endblock %}
 