{% extends 'base123.html.twig' %}
{% block title %}Banque index{% endblock %}

{% block body %}
<div class="container-xl">
    <div class="page-header d-print-none">
        <div class="row g-2 align-items-center">
            <div class="col">
                <h2 class="page-title">Banques</h2>
            </div>
            <div class="col-12 col-md-auto ms-auto d-print-none">
                <div class="btn-list">
                    <span class="d-none d-sm-inline">
                        <a href="#" class="btn btn-white">Nombres : {{ banques | length}}</a>
                        <a href="{{path('app_banque_new')}}" class="btn btn-primary d-none d-sm-inline-block">
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><line x1="12" y1="5" x2="12" y2="19" /><line x1="5" y1="12" x2="19" y2="12" /></svg>Ajouter un client</a>
                    </span>
                </div>
            </div>
        </div>
    </div> 
</div>
<div class="card p-2 m-4">
    <div class="card-header mb-2">
        <h3 class="card-title">Liste</h3>
    </div>
    <div class="table-responsive">
        <table class="table card-table table-hover dataTable">
            <thead class="table-dark">
                <tr>  
                    <th>N°</th>
                    <th>Nom banque</th>
                    <th class="text-center">Action</th>
                </tr>
            </thead>
            <tbody>
                {% set i = 0 %}
                {% for banque in banques %}
                    {% set i = i + 1 %}
                    <tr>
                        <td>{{ i }}</td>
                        <td>{{ banque.libelle }}</td>
                            <td class="text-center">
                                <a href="{{ path('app_banque_edit', {'id': banque.id}) }}" class="btn btn-primary text-white btn-sm">Modifier<i class="fa fa-edit"></i></a>
                                <a href="{{ path('app_banque_historique', {'id': banque.id}) }}" class="btn btn-success text-white btn-sm"> Historique <i class="fa fa-list p-1"></i></a>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="12">La table est vide </td>
                        </tr>
                    {% endfor %}
            </tbody>
        </table>
    </div>
</div> 
{% endblock %}