{% extends 'base.html.twig' %}

{% block title %}Edit Camion{% endblock %}

{% block body %}
<div class="content-wrapper">
    <div class="row">
        <div class="col-12 grid-margin stretch-card">
            <div class="card">
                {{ form_start(form) }}
                <div class="card-header">
                    <h4 class="card-title">Modifier un camion</h4>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6">{{ form_row(form.numero_camion)}}</div>
                        <div class="col-md-6">{{ form_row(form.chauffeur)}}</div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">{{ form_row(form.model)}}</div>
                        <div class="col-md-6">{{ form_row(form.marque)}}</div>
                    </div>
                </div>
                <div class="card-footer text-end">
                    <div class="d-flex">
                        <button type="submit" class="btn btn-primary btn-sm ">Modifier <i class="mdi mdi-content-save"></i></button>
                        <a href="{{path('app_camion_index', {'id' : camion.id})}}" class="btn btn-secondary btn-sm ms-auto text-white">Retour <i class="mdi mdi-reply"></i></a>
                    </div>
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
</div>
{% endblock %}
