{{ form_start(form) }}
    <div class="card-header">
        <h4 class="card-title">Ajouter un employé</h4>
    </div>
    <div class="card-body">
        <div class="row mb-2">
            <div class="col-md-4">{{ form_row(form.code_personnel, { attr: { value: num }})}}</div>
            <div class="col-md-4">{{ form_row(form.nom)}}</div>
            <div class="col-md-4">{{ form_row(form.prenom)}}</div>
        </div>
        <div class="row mb-4">
            <div class="col-md-4">{{ form_row(form.email)}}</div>
            <div class="col-md-4">{{ form_row(form.tel)}}</div>
            <div class="col-md-4">{{ form_row(form.image)}}</div>
        </div>
        <div class="row mb-2">
            <div class="col-md-4">{{ form_row(form.pays)}}</div>
            <div class="col-md-4">{{ form_row(form.ville)}}</div>
        </div>
    </div>
    <div class="card-footer text-end">
        <div class="d-flex">
            <a href="{{path('app_personnel_index')}}" class="btn btn-secondary btn-sm">Retour</a>
            <button type="submit" class="btn btn-primary btn-sm ms-auto">Enregistrer</button>
        </div>
    </div>    
{{ form_end(form) }}
