{% extends 'base.html.twig' %}

{% block title %}CommandeFournisseur index{% endblock %}

{% block body %}
<div class="container-xl">
    <div class="page-header d-print-none">
        <div class="row g-2 align-items-center">
            <div class="col">
                <h2 class="page-title">Commandes Fournisseurs</h2>
            </div>
            <div class="col-12 col-md-auto ms-auto d-print-none">
                <div class="btn-list">
                    <span class="d-none d-sm-inline">
                    <a href="#" class="btn btn-white">Nombres : {{ commande_fournisseurs | length}}</a>
                    <a href="{{path('app_commande_fournisseur_new')}}" class="btn btn-primary d-none d-sm-inline-block">Ajouter <i class="fa fa-plus"></i></a>
                </div>
            </div>
        </div>
    </div> 
</div>
<div class="page-body">
    <div class="container-xl">
        <div class="row row-cards">
            <div class="col-12">
                <div class="card p-2 m-4">
                    <div class="card-header mb-2">
                        <h3 class="card-title">Liste des commandes</h3>
                    </div>
                    <div class="table-responsive">
                        <table class="table card-table table-hover dataTable">
                            <thead class="table-dark">
                                <tr>
                                    <th>N°</th>
                                    <th>Numero Commande</th>
                                    <th>Fournisseur</th>
                                    <th>Code</th>
                                    <th>Date Commande</th>
                                    <th>Paiement Date</th>
                                    <th>Paiement Mode</th>
                                    <th>Expédition Mode</th>
                                    <th>Etat</th>
                                    <th class="text-center">Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% set i = 0 %}
                                {% for commande_fournisseur in commande_fournisseurs %}
                                    {% set i = i + 1 %}
                                    <tr>
                                        <td>{{ i }}</td>
                                        <td>{{ commande_fournisseur.numeroCommande }}</td>
                                        <td>{{ commande_fournisseur.fournisseur.societe }}</td>
                                        <td>{{ commande_fournisseur.fournisseur.codeFournisseur }}</td>
                                        <td>{{ commande_fournisseur.dateCommande ? commande_fournisseur.dateCommande|date('Y-m-d') : '' }}</td>
                                        <td>{{ commande_fournisseur.paiementDate ? commande_fournisseur.paiementDate|date('Y-m-d') : '' }}</td>
                                        <td>{{ commande_fournisseur.paiementMode }}</td>
                                        <td>{{ commande_fournisseur.expeditionMode }}</td>
                                        <td>
                                            {% if commande_fournisseur.etat == true %}
                                                <span class="btn bg-success btn-sm">{{ commande_fournisseur.etat ? 'Valider' : 'Invalider' }}</span>
                                            {% else %}
                                                <span class="btn bg-danger btn-sm">{{ commande_fournisseur.etat ? 'Valider' : 'Invalider' }}</span>
                                            {% endif %}
                                        </td>
                                        <td class="text-center">
                                            <a href="{{ path('app_commande_fournisseur_show', {'id': commande_fournisseur.id}) }}" class="btn btn-info btn-sm"> <i class="fa fa-eye fa-2x p-1"></i></a>
                                            <a href="{{ path('app_commande_fournisseur_edit', {'id': commande_fournisseur.id}) }}" class="btn btn-primary btn-sm"> <i class="fa fa-edit fa-2x p-1"></i></a>
                                            <a href="{{ path('app_print_commande_fournisseur', {'id': commande_fournisseur.id}) }}" class="btn btn-secondary btn-sm" target="_blank">  <i class="fa fa-print fa-2x p-1"></i></a>
                                        </td>
                                    </tr>
                                {% else %}
                                    <tr>
                                        <td colspan="9">La table commande est vide</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
