{% extends 'base.html.twig' %}

{% block title %}LCommandeClient index{% endblock %}

{% block body %}
    <h1>LCommandeClient index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Quantite</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for l_commande_client in l_commande_clients %}
            <tr>
                <td>{{ l_commande_client.id }}</td>
                <td>{{ l_commande_client.quantite }}</td>
                <td>
                    <a href="{{ path('app_l_commande_client_show', {'id': l_commande_client.id}) }}">show</a>
                    <a href="{{ path('app_l_commande_client_edit', {'id': l_commande_client.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_l_commande_client_new') }}">Create new</a>
{% endblock %}
