{{ form_start(form) }}
<div class="card-header">
    <h4 class="card-title">Modifier client : {{client.codeClient}}</h4>
</div>
<div class="card-body">
    <div class="row mb-2">
        <div class="col-md-4">{{ form_row(form.code_client)}}</div>
        <div class="col-md-4">{{ form_row(form.nom)}}</div>
        <div class="col-md-4">{{ form_row(form.prenom)}}</div>
    </div>
    <div class="row mb-4">
        <div class="col-md-4">{{ form_row(form.email)}}</div>
        <div class="col-md-4">{{ form_row(form.telephone)}}</div>
        <div class="col-md-4">{{ form_row(form.contact)}}</div>
    </div>
    <div class="row mb-2">
        <div class="col-md-4">{{ form_row(form.pays)}}</div>
        <div class="col-md-4">{{ form_row(form.ville)}}</div>
        <div class="col-md-4">{{ form_row(form.adresse)}}</div>
    </div>
    <div class="row m-4">
        <div class="col-md-12">{{ form_row(form.etat)}}</div>
    </div>
</div>
<div class="card-footer text-end">
    <div class="d-flex">
        <a href="{{path('app_client_index')}}" class="btn btn-secondary btn-sm">Retour</a>
        <button type="submit" class="btn btn-primary btn-sm ms-auto">Enregistrer</button>
    </div>
</div> 
{{ form_end(form) }}
 