{% extends 'base.html.twig' %}

{% block title %}RecetteCamion index{% endblock %}

{% block body %}
    <h1>RecetteCamion index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Montant_transport</th>
                <th>Mode_paiement</th>
                <th>Date_recette</th>
                <th>Depart</th>
                <th>Banque</th>
                <th>Numero_cheque</th>
                <th>Destination</th>
                <th>Type_tc</th>
                <th>Observation</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for recette_camion in recette_camions %}
            <tr>
                <td>{{ recette_camion.id }}</td>
                <td>{{ recette_camion.montantTransport }}</td>
                <td>{{ recette_camion.modePaiement }}</td>
                <td>{{ recette_camion.dateRecette ? recette_camion.dateRecette|date('Y-m-d') : '' }}</td>
                <td>{{ recette_camion.depart }}</td>
                <td>{{ recette_camion.banque }}</td>
                <td>{{ recette_camion.numeroCheque }}</td>
                <td>{{ recette_camion.destination }}</td>
                <td>{{ recette_camion.typeTc }}</td>
                <td>{{ recette_camion.observation }}</td>
                <td>
                    <a href="{{ path('app_recette_camion_show', {'id': recette_camion.id}) }}">show</a>
                    <a href="{{ path('app_recette_camion_edit', {'id': recette_camion.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="11">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_recette_camion_new') }}">Create new</a>
{% endblock %}
